@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 

:root{

    --font-heading :crimson;
    --para-font :#777777;
    --black : #222222;
    --bg:rgba(237,228,70);
    --white:#fff;
}

.nav-change
{
  background: blue;
}

*{

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline : none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: 0.2s linear;

}

html{
    font-size: 62.5%;
    overflow-x :hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

}

.header{
    width: 100%;
    height: 100vh;
    /* background: url(./Latte_and_dark_coffee.jpg); */
    background: url(./cofffe.webp);
    background-repeat: no-repeat;
    background-size: cover;
 
}



nav{
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}

.Logo{
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}

.Logo span{
    
    color: var(--bg);
  }

  nav .links a {

    color :var(--white);
    font-size: 1.5rem;
    margin-right: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;

  }


  nav .links a:after {

    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s;
   
  }

  nav .links a:hover::after {

  width: 100%;
   
  }

  nav #menu-btn, nav #close{

    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;


  }

  .header   .content {
     
    padding :150px 7%;
    color: var(--white);
    
  }


  .header   .content h3 {
     
     font-size: 1.4rem;
     font-weight: 600;
     letter-spacing: 2px;
     padding: 3rem  0;
    
  }


  .header   .content h1 {
     
    font-size: 5rem;
    letter-spacing: 2px;
   
   
 }

 .btn{

    padding: 1.3rem 5rem;
    margin: 3rem 0;
    cursor: pointer;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    border:  0.3rem solid var(--font-heading);
    border-radius: 7px;
    background: none;
    transition: all linear 0.5s;

 }

 .btn:hover {

    background: var(--bg);
    color: var(--white);

   

 }


 section{
    padding: 8rem 7%;
}

 .about .container{

    display: flex;
    justify-content: space-between;
   
 }





 .about  .container .image {
     
    flex-basis: 50%;
    background: url(./Latte_and_dark_coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px red;
   
   
 }


 .about  .container  .about-content {
     
    flex-basis: 40%;
 
   
   
 }



 .about  .container  .about-content h1 {
     
    font-size: 4rem;
    color: var(--font-heading);
    padding: 1rem 0;
    
  
 
   
   
 }



 .about  .container  .about-content h3 {
     
    font-size: 1.3rem;
    color: var(--black);
    padding: 1rem 0;
    font-weight: 600;
    letter-spacing: 1.3px;
    padding: 1rem  ;
 
   
   
 }


 .about  .container  .about-content p {
     
    font-size: 1.4rem;
    color: var(--red);
    font-weight: 300;
    line-height: 1.5;
  
 
   
   
 }

 .heading{

    font-size: 5rem;
    text-align: center;
 }


 .heading span{

   color: var(--font-heading);
 }

 .heading-description{

    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.6rem;
    font-weight: 300;
 }

 .blog  .container {

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem , 1fr));
    gap: 2rem;
    padding: 2.5rem 0;



 }


 .blog  .container .post   {

   border: 0.2rem solid var(--font-heading);
   border-radius: 10px;
   height: auto;
   cursor: pointer;
   box-shadow: 0px 0px 5px 0px red;
   transform: 0.4s linear all;
    


 }

 .blog  .container .post:hover   {

   transform: translate(0px ,-5px);
     
 
 
  }

 .blog  .container .post  .blog-img img {

    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    


 }


 .blog  .container .post  .blog-content {

   padding: 2rem;
    


 }


 .blog  .container .post  .blog-content h3 {

    font-size: 1.6rem;
    padding: 1.3rem 0;
    letter-spacing: 0.1rem;
     
 
 
  }


  .blog  .container .post  .blog-content h3 span{

    color: var(--font-heading);
     
 
 
  }

  .blog  .container .post  .blog-content h1{

    font-size: 2rem;
    color: var(--black);
    padding-bottom: 2rem;
     
 
 
  }


  .blog  .container .post  .blog-content p{

    font-size: 1.4rem;
    color: var(--para-font);
   
    
 
  }



  .blog  .container .post:hover  {

    transform: scale(1.1);
   
  }


  .blog  .container .post .blog-img span {

  position: absolute;
  background: var(--font-heading);
  bottom: 42%;
  right: 3%;
  padding: 1.2rem  1.4rem ;
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: auto;
  font-weight: bold;
  /* border-radius: 7px; */
   
  }


  .service  .container{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem , 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
    grid-row-gap: 4rem;


  }

  .service  .container .service-box {

    background: var(--white);
    height: auto;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    padding-bottom: 3rem;
    border-radius: 10px;
  }

  .service  .container .service-box  img{

    width: 100%;
    border-radius: 10px;
  }


  .service  .container .service-box  .service-content {

     padding: 1.5rem;
  }

  .service  .container .service-box  .service-content  h3{

    font-size: 2.5rem;
    padding: 1.3rem 0;
 }

 .service  .container .service-box  .service-content  p{

    font-size: 1.6rem;
    padding: 1.3rem 0;
    font-weight: 400;
    color: var(--black);
 }

 .service  .container .service-box:hover{

    transform: translateY(-1rem);
  }

  .team  .container {


    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem , 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
    grid-row-gap: 4rem;


  }

  .team  .container .team-box {

    width: auto;
    cursor: pointer;
  }


  .team  .container .team-box .team-img{

    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    transition: all linear 0.5s;


  }


  .team  .container .team-box .team-img:hover{

    box-shadow: 0px 0px  10px 0px red;


  }

  .team  .container .team-box .team-img:hover img{

  transform: scale(1.1);


  }

  .team  .container .team-box .team-img img{

    width: 100%;
   


  }


  .team  .container .team-box .team-content{

    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    text-align: center;
    width: 80%;
    position: relative;
    top: -10%;
    z-index: 2;
    background: var(--white);
    left: 10%;
    border-radius: 0.8rem;



  }


  .team  .container .team-box .team-content  h3{

 font-size: 2rem;
 color: var(--black);
 padding: 1.2rem 0;



  }


  .team  .container .team-box .team-content  p{

    font-size: 1.5rem;
    color: var(--black);
    padding: 1.2rem 0;
   
   
   
     } 


     .team  .container .team-box .team-content  .social a{

        display: inline-block;
        margin: 0.7rem;
        height: 4rem;
        width: 4rem;
        background: var(--font-heading);
        color: var(--white);
        line-height: 4rem;
        font-size: 1.5 rem;

       
       
       
         } 



     .team  .container .team-box .team-content  .social a:hover{

       border-radius: 100%;

       
       
       
         } 
    
        
     .team  .container .team-box:hover .team-content  {

        transform: translateY(-1rem);
 
        
        
        
          } 

    .contact .container{

        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem , 1fr));
        gap: 2rem;
        padding: 2.5rem 0;
        grid-row-gap: 4rem;

    }

    .contact .container  .contact-box{

       border: 0.2rem solid var(--font-heading);
       border-radius: 1rem;
       padding: 2rem;
       cursor: pointer;

    }


    .contact .container  .contact-box div{

      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1.3rem 0;
 
     }


     .contact .container  .contact-box div i{

     width: 4rem;
     height: 4rem;
     background: var(--font-heading);
     color: var(--white);
     text-align: center;
     font-size: 1.3rem;
     line-height: 4rem;
     border-radius: 100%;
   
       }


       .contact .container  .contact-box div h2{

        
        font-size: 1.8rem;
       
      
          }


       .contact .container  .contact-box div h2 span{

        
        font-weight: 300;
       
      
          }


          .contact .container  .contact-box div p{

        
            font-size: 1.5rem;
           
          
              }
          .contact .container  .contact-box:hover{

        
                background: var(--bg);
                color: var(--white);
               
              
                  }
.footer
{
  width: 100%;
  height: auto;
  background: url("/my coffe22222.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20rem;
}


.footer .container
{

  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem , 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
    grid-row-gap: 4rem;

}


.footer .container .footer-box 
{

 padding: 1rem;


}



.footer .container .footer-box h3
{

  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;


}

.footer .container .footer-box p
{

  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.5rem;


}


        